<body>
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h1><%= @page.page_name %></h1>
                </div>
                <!--<div class="col-lg-8 col-sm-8">-->
                <!--  <ol class="breadcrumb pull-right">-->
                <!--    <li>-->
                <!--      <a href="#">-->
                <!--        Home-->
                <!--      </a>-->
                <!--    </li>-->
                <!--    <li>-->
                <!---->
                <!--      <a href="#">-->
                <!--        Pages-->
                <!--      </a>-->
                <!--    </li>-->
                <!--    <li class="active">-->
                <!--      About-->
                <!--    </li>-->
                <!--  </ol>-->
                <!--</div>-->
            </div>
        </div>
    </div> <!--breadcrumbs end-->
    
    <div class="container"> <!--container start-->
        <div class="row">
            <div class="col-lg-5">
                <div class="about-carousel wow fadeInLeft">
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner"> <!-- Carousel items -->
                            <div class="active item">
                                <img src="<%= @restaurant_1.image_url(:search_page) %>" alt="">
                                <div class="carousel-caption">
                                    <p>Distinctive Quality</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="<%= @restaurant_2.image_url(:search_page) %>" alt=""> 
                                <div class="carousel-caption">
                                    <p>Always Delicious</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="<%= @restaurant_3.image_url(:search_page) %>" alt="">  
                                <div class="carousel-caption">
                                    <p>Always Appetizing</p>
                                </div>
                            </div>
                        </div> 
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev"> <!-- Carousel nav -->
                            <i class="fa fa-angle-left"></i>    
                        </a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>    
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>